.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none;
}

label {
  display: block;
}

input {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  label {
    display: inline-block;
  }

  input {
    width: 15%;
  }

}